# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

CollegeApp/CollegeApp/Course/CourseParser.swift
CollegeApp/CollegeApp/Course/CourseService.swift
CollegeApp/CollegeApp/Setting/ProfileParser.swift
CollegeApp/CollegeApp/Setting/ProfileService.swift
CollegeApp/CollegeApp/LoginView.swift